.recipe {
  display: flex;
  flex-direction: column;
  min-width: 40%;
  margin: 20px;
  border-radius: 20px;
  justify-content: space-around;
  background: #fff;
  align-items: center;
  padding: 10px 20px;
}

ul {
  list-style: none;
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.image:hover {
  position: relative;
  transform: scale(1.1);
}
